{% extends "layout.html" %}

{% block title %}
    Collection
{% endblock %}

{% block main %}
    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
        }

        .shot-card img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
        }

        .shot-card a {
            text-decoration: none;
        }
    </style>
    <div class="grid">
        {% for shot in collection %}
        <a href="/shot/{{ shot.id }}">
            <div class="shot-card">
                <img src="{{ shot.image_path }}" alt="{{ shot.project_name }}">
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}