{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name="image" accept="image/*">
        </div>
        <div>
            <input name="project_name" placeholder="Project Name" type="text">
        </div>
        <div>
            <input name="director" placeholder="Director" type="text">
        </div>
        <div>
            <input name="cinematographer" placeholder="Cinematographer" type="text">
        </div>
        <div>
            <input name="year" placeholder="Year" type="number">
        </div>
        <select name="work_type">
            <option value="">-- Work Type --</option>
            <option value="featured">Featured Film</option>
            <option value="short_film">Short Film</option>
            <option value="music_video">Music Video</option>
            <option value="ads">ADS</option>
            <option value="photography">Photography</option>
        </select>
        <select name="shot_type">
            <option value="">-- Shot Type --</option>
            <option value="story">Story Shot</option>
            <option value="product">Product Shot</option>
            <option value="beauty">Beauty Shot</option>
            <option value="art">Artzy/Abstract</option>
        </select>
        <select name="shot_size">
            <option value="">-- Shot Size --</option>
            <option value="insert">INS</option>
            <option value="close_up">CU</option>
            <option value="medium_close_up">MCU</option>
            <option value="medium">MS</option>
            <option value="medium_long">MLS</option>
            <option value="long">LS</option>
            <option value="establish">ELS</option>
        </select>
        <select name="int_or_ext">
            <option value="">-- INT/EXT --</option>
            <option value="int">INT</option>
            <option value="ext">EXT</option>
        </select>
        <select name="time_of_day">
            <option value="">-- Time of Day --</option>
            <option value="day">DAY</option>
            <option value="night">NIGHT</option>
            <option value="dusk">DUSK</option>
            <option value="dawn">DAWN</option>
        </select>
        <select name="aspect_ratio">
            <option value="">-- Aspect Ratio --</option>
            <option value="1:1">1:1</option>
            <option value="4:3">4:3</option>
            <option value="9:16">9:16</option>
            <option value="16:9">16:9</option>
            <option value="2.35:1">2.35:1</option>
        </select>
        <textarea name="description" placeholder="Description" rows="5" cols="30"></textarea>
        <button type="submit">Upload</button>
    </form>
{% endblock %}