{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name="image" accept="image/*">
        </div>
        <div>
            <input name="project_name" placeholder="Project Name" type="text">
        </div>
        <div>
            <input name="director" placeholder="Director" type="text">
        </div>
        <div>
            <input name="cinematographer" placeholder="Cinematographer" type="text">
        </div>
        <div>
            <input name="year" placeholder="Year" type="number">
        </div>
        <select name="work_type">
            <option value="">-- Work Type --</option>
            <option value="Featured Film">Featured Film</option>
            <option value="Short film">Short Film</option>
            <option value="Music Video">Music Video</option>
            <option value="ADS">ADS</option>
            <option value="Photography">Photography</option>
        </select>
        <select name="shot_type">
            <option value="">-- Shot Type --</option>
            <option value="Story Shot">Story Shot</option>
            <option value="Product Shot">Product Shot</option>
            <option value="Beauty Shot">Beauty Shot</option>
            <option value="Artzy">Artzy/Abstract</option>
        </select>
        <select name="shot_size">
            <option value="">-- Shot Size --</option>
            <option value="INS">INS</option>
            <option value="CU">CU</option>
            <option value="MCU">MCU</option>
            <option value="MS">MS</option>
            <option value="MLS">MLS</option>
            <option value="LS">LS</option>
            <option value="ELS">ELS</option>
        </select>
        <select name="int_or_ext">
            <option value="">-- INT/EXT --</option>
            <option value="INT">INT</option>
            <option value="EXT">EXT</option>
        </select>
        <select name="time_of_day">
            <option value="">-- Time of Day --</option>
            <option value="DAY">DAY</option>
            <option value="NIGHT">NIGHT</option>
            <option value="DUSK">DUSK</option>
            <option value="DAWN">DAWN</option>
        </select>
        <select name="aspect_ratio">
            <option value="">-- Aspect Ratio --</option>
            <option value="1:1">1:1</option>
            <option value="4:3">4:3</option>
            <option value="9:16">9:16</option>
            <option value="16:9">16:9</option>
            <option value="2.35:1">2.35:1</option>
        </select>
        <textarea name="description" placeholder="Description" rows="5" cols="30"></textarea>
        <button type="submit">Upload</button>
    </form>
{% endblock %}